.carousel-image-box {
  padding: 20px;
}

.carousel-image-box img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.carousel-image-delete {
  background-color: #0f0f3e;
  border-radius: 5px;
  border: none;
}
.carousel-image-delete:hover,
.carousel-image-delete:active {
  background-color: crimson !important;
}
