/*--------------------------------------------------------------
# Facility
--------------------------------------------------------------*/

.facility {
  border: 1px solid rgba(38, 38, 38, 0.378);
  padding: var(--mb-2);
  font-size: 14px;
  margin: 20px 0px;
  height: auto;
}

.facility h3 {
  font-size: var(--name-font-size);
  display: inline-block !important;
  color: var(--color-secondary-dark);
}

.facility img {
  width: 80px !important;
  height: 80px !important;
  padding: 15px;
  filter: saturate(0);
}

.facility-delete {
  font-size: 14px;
  background-color: #0f0f3e;
  border: none;
}
.facility-delete:hover,
.facility-delete:active {
  background-color: crimson !important;
}
