.img-box img,
.gallery-display-image img {
  max-height: 220px !important;
  width: 400px !important;
}

.gallery-title h4 {
  text-transform: capitalize;
  padding: 4px;
  font-size: 25px;
  font-weight: 600;
}

.New-Gallery-Item-Adder .gallery-item-name h4 {
  font-size: 20px;
  text-transform: capitalize !important;
  font-weight: 600;
  text-align: center !important;
}
.New-Gallery-Item-Adder .gallery-item-name input {
  outline: none;
  width: 250px !important;
  height: 30px;
  font-size: 12px;
  text-transform: capitalize;
  border: 1px solid grey;
  border-radius: 5px;
}

.New-Gallery-Item-Adder .gallery-item-name input:focus {
  border: 1px solid crimson !important;
}
.New-Gallery-Item-Adder {
  height: 250px;
  width: 350px;
  padding: 10px;
  background-color: #9494ec3f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
